<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create customer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.css" type="text/css" rel="stylesheet">
</head>
<body>
<h1>Create customer</h1>
<p>
    <a href="/customers">Customer list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-customer}" th:object="${customer}" method="post">
    <table cellpadding="2" class="table table-hover">
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Birthday:</td>
            <td><input type="date" th:field="*{birthday}"/></td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td>
                <input type="radio" checked name="gender" th:value="*{gender}"/>Male
                <input type="radio"         name="gender" th:value="*{!gender}"/>Female
            </td>
        </tr>
        <tr>
            <td>Id Card:</td>
            <td><input type="text" th:field="*{idCard}"/></td>
        </tr>
        <tr>
            <td>Phone Number:</td>
            <td><input type="text" th:field="*{phone}"/></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" th:field="*{email}"/></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><input type="text" th:field="*{address}"/></td>
        </tr>
        <tr>
            <td>Customer Type:</td>
            <td>
                <select th:field="*{customerType}">
                    <option th:each="c : ${customerTypes}" th:value="${c.id}" th:text="${c.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Create customer"></td>
        </tr>
    </table>
</form>
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>