<!--<table class="table">-->
<!--  <tr class="border-dark">-->
<!--    <th>ID</th>-->
<!--    <th>Name</th>-->
<!--    <th>Birthday</th>-->
<!--    <th>Gender</th>-->
<!--    <th>Id Card</th>-->
<!--    <th>Phone number</th>-->
<!--    <th>Email</th>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>{{bus.id}}</td>-->
<!--    <td>{{bus.name| uppercase}}</td>-->
<!--    <td>{{bus.birthday | date: "yyyy-MM-dd"}}</td>-->
<!--    <td *ngIf="bus.gender == true">Male</td>-->
<!--    <td *ngIf="bus.gender != true">Female</td>-->
<!--    <td>{{bus.idCard}}</td>-->
<!--    <td>{{bus.phone}}</td>-->
<!--    <td>{{bus.email}}</td>-->
<!--  </tr>-->
<!--</table>-->
