<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>View product</h3>
<p>
    <a th:href="@{/product}">
        Back to product list
    </a>
</p>
<div id="detail">
    <div class="prodetail">
        <label>Name:</label>
        <label th:text="${product.name}"></label>
    </div>
    <div class="prodetail">
        <label>Pride:</label>
        <label th:text="${product.pride}"></label>
    </div>
    <div class="prodetail">
        <label>Description:</label>
        <label th:text="${product.dec}"></label>
    </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>