<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Music</title>
</head>
<body>
<h1>Create new Music</h1>
<form action="/save" method="post" th:object="${music}">
    <table border="1">
        <tr>
            <td>Id</td>
            <td><input type="text" th:field="*{id}"></td>
        </tr>
        <tr>
            <td>Music Name</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Singer</td>
            <td><input type="text" th:field="*{singer}"></td>
        </tr>
        <tr>
            <td>Type</td>
            <td><input type="text" th:field="*{type}"></td>
        </tr>
        <tr>
            <td>Link</td>
            <td><input type="text" th:field="*{link}"></td>
        </tr>
        <tr>
            <td><input type="reset" value="Reset"></td>
            <td><input type="submit" value="Submit"></td>
        </tr>
    </table>
</form>
</body>
</html>